Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
config.log
config.status
configure
libtool
core
src/plugins/*.la
src/plugins/*.lo
src/plugins/.deps
src/plugins/.libs
lib/.deps
lib/.libs
doc/examples/library-usage/.deps
doc/examples/plugin/.deps
tests/.deps
tests/fakelibs/.deps

